*.bak
*.dbg
*.compiled
Makefile.compiled
fpmake.pp
src/lib/
Apps/MQTTClient/lib/
Apps/MQTTServer/lib/
Apps/MQTTServerCLI/lib/
Apps/MQTTServerCLI/MQTTServerCLI
Apps/MQTTServer/MQTTServer
Apps/MQTTClient/MQTTClient
tree.xml
Apps/MQTTServer/mqttserver.ini
src/Makefile
src/Makefile.fpc
