*.bak
*.dbg
*.compiled
*.exe
*.ini
lib
core
Makefile
backup
Apps/MQTTClock/MQTTClock
Apps/MQTTClockReceiver/MQTTClockReceiver
Apps/MQTTClient/MQTTClientApp
Apps/MQTTServer/MQTTServerApp
Apps/MQTTServerCLI/MQTTServerCLI
/src/Makefile.fpc
/src/fpmake.pp
